@use 'tailwindcss';

@font-face {
    font-family: 'Jua';
    src: url('/fonts/Jua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Itim';
    src: url('/fonts/Itim.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alatsi';
    src: url('/fonts/Alatsi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Carrois';
    src: url('/fonts/CarroisGothicSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}