 @use '../../style/_variables.scss' as variables;

.announcements {
  display: flex;
  background-color: variables.$white;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  font-family: variables.$font-jua;
  box-shadow: variables.$dropshadow;
  height: 15rem;

  .announcements-left {
    font-size: 1rem;
    overflow-y: auto;
    padding-right: 16px;
    margin-bottom: 16px;
    max-width: 30%;
  }

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-left: 0.25rem;
    }
      .no-announcements {
        background-color: variables.$light-blue;
        color: variables.$grey;
        padding:16px;
        margin-top: 16px;
        border-radius: 8px;
        font-style: italic;
        text-align: center;
      }

      .announcement-item {
        background-color: variables.$light-blue;
        padding: 8px;
        box-shadow: variables.$dropshadow;
        border-radius: 8px;
        margin-bottom: 8px;
      }

      .announcement-item h2 {
        font-size: 0.9rem;
      }

      .announcement-message {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        color: variables.$grey;
        opacity: 1;
      }

      .announcement-item:hover .announcement-message {
        opacity: 1;
        max-height: 200px;
        display: block;
      }

  .announcements-right {
    width: 75%;
  }
    .announcement-inputs {
      display: flex;
      flex-direction: column;
    }

      .announcement-label {
        font-size: 14px;
        color: variables.$dark-blue;
        margin-bottom: 4px;
      }

      .announcement-title {
          padding: 8px;
          box-shadow: variables.$dropshadow;
          border-radius: 4px;
          font-size: 14px;
          resize: none;
          font-family: inherit;
          color: variables.$dark-blue;
      }

      .announcement-textarea {
          min-height: 80px;
          padding: 8px;
          box-shadow: variables.$dropshadow;
          border-radius: 4px;
          font-size: 14px;
          resize: none;
          font-family: inherit;
          color: variables.$dark-blue;
      }

    .announcement-actions {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 8px;
    }
  }

.announcement-detail-view {
  background-color: variables.$white;
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  width: 65vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  box-shadow: variables.$dropshadow;
  max-height: 70vh;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 100;
  
  .header {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  button {
    color: variables.$grey;
    cursor: pointer;
    font-size: 1.7rem;
    justify-self: flex-end;
  }
  h2 {
    font-size: 1.3rem;
    color: variables.$dark-blue;
  }

  p {
    font-size: 1rem;
    background-color: variables.$light-blue;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
}

.announcements-left--false {
  max-width: 100% !important;
    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
    }
}