@use '../../style/variables' as vars;

.grading-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: vars.$font-jua;
    gap: 3rem;

    h1 {
        width: 100%;
        font-size: 3rem;
        color: vars.$dark-blue;
        text-align: center;
        padding: 2rem 0;
        background-color: vars.$light-blue;
        margin: 0;
        box-shadow: vars.$dropshadow;
    }

    .submissions-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        background-color: vars.$light-blue;
        margin: 0;
        box-shadow: vars.$dropshadow;
        border-radius: 1.5rem;

        .submissions-header {
            width: 90%;
            display: grid;
            grid-template-columns: 1fr 1fr 1.5fr 1fr;
            column-gap: 1rem;
            font-size: 1.5rem;
            color: vars.$dark-blue;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            align-items: center;
            .submission-name {
                text-align: left;
            }
            h3 {
                text-align: center;
            }
        }

        .submissions-list {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            width: 100%;
            padding: 0 1rem;

            .submission-card {
                background-color: vars.$white;
                border-radius: 0.75rem;
                padding: 0.5rem 2rem;
                box-shadow: vars.$dropshadow;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1.5fr 1fr;
                column-gap: 1rem; 
                row-gap: 0.5rem;
                align-items: center;
                color: vars.$dark-blue;
                //cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: vars.$lighter-blue;
                }

                p {
                    margin: 0;
                    text-align: center;
                }

                h3 {
                    margin: 0;
                    grid-column: span 1;
                    text-align: left;
                }

                .points {
                    text-align: center;
                }

                .status--submitted {
                    color: #8EC599;
                }

                .status--late {
                    color: #EDCF4A;
                }

                .status--not-submitted {
                    color: vars.$grey;
                }
            }
        }
    }

    .auto-grade-btn {
        position: sticky;
        bottom: 2rem;
    }
    
}