@use '../../../../style/variables' as variables;

.builder-page {
  width: 100%;
}

.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
  }
  
  .modalContent {
    background: variables.$white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: variables.$dropshadow;
    width: 320px;
    font-family: variables.$font-itim;
    text-align: center;
  }
  
  .modalInput {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid variables.$grey;
    border-radius: 6px;
    font-family: variables.$font-itim;
  }
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  
  .modalBtn {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-family: variables.$font-jua;
    cursor: pointer;
  }
  
  .modalBtn.submit {
    background-color: variables.$blue;
    color: variables.$white;
  
    &:hover {
      background-color: variables.$dark-blue;
    }
  }
  
  .modalBtn.cancel {
    background-color: variables.$light-grey;
    color: variables.$dark-blue;
  
    &:hover {
      background-color: darken(variables.$light-grey, 5%);
    }
  }

  .action-btns {
    display: flex;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
    left: 5rem;
    justify-self: center;
    z-index: 10;
    padding: 0.25rem 1rem;
    background-color: variables.$dark-blue;
    box-shadow: variables.$dropshadow;
    border-radius: 2rem;
  }

  .tooltip-text {
    visibility: hidden;
    background-color: variables.$darker-blue;
    color: variables.$white;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;
    }

    .action-btn:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }