@use '../../style/_variables.scss' as variables;

.quiz-builder {
  margin: 0;
  padding: 20px;
  background-color: variables.$light-blue;
  min-height: 100vh;
  font-family: variables.$font-jua;
  color: variables.$dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;

  h1, .quiz-title-input {
    background-color: variables.$white;
    padding: 20px 30px;
    margin: 0 0 20px 0;
    border-radius: 12px;
    box-shadow: variables.$dropshadow;
    font-family: variables.$font-jua;
    font-size: 3rem;
    color: variables.$blue;
    text-align: center;
    position: relative;
    width: 90%;
    &:hover {
      border: 2px dashed variables.$blue;
    }
  }

  .quiz-description, .quiz-description-input {
    background-color: variables.$white;
    padding: 20px 30px;
    margin: 0 0 30px 0;
    border-radius: 12px;
    box-shadow: variables.$dropshadow;
    font-size: 1rem;
    line-height: 1.5;
    width: 90%;
    &:hover {
      border: 2px dashed variables.$blue;
    }
  }

  .add-question-btn {
    background-color: variables.$white;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 75vw;
    box-shadow: variables.$dropshadow;
    border: 1px dashed variables.$grey;
    color: variables.$grey;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: variables.$light-grey;
    }
  }

  .add-question-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .question {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      &.view-mode { 
        cursor: text;
      }
    }


  .delete-question-btn {
    position: absolute;
    top: 2%;
    right: 11%;
  }

  .edit-quiz-btn {
    position: sticky;
    bottom: 1rem;
    left: 2rem;
    width: 100%;
  }
}
